#img{
    width: 100%;
    height: 55vh;
    background: linear-gradient(#9D0E0E00, #4F0707) ,url("C:\\MAHESH PROGRAMS\\EDU TRAINING\\REACT\\zomato\\src\\Assests\\shutterstock_348320018.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#login{
    color:white;
}
.logo{
    position:relative;
    top:3rem;
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
}
.logo-edu{
    width: 100px; 
    height: 100px; 
    border: 2px solid white; 
    border-radius: 55%; 
    background-color: white;
}
.logo-edu-inside{
    font: normal normal 600 55px/90px Poppins;
    color: #EB2929;
    text-align:center;
}
.title-text{
    position:relative;
    top:3rem; 
    display:flex;
    justify-content: center;
    margin:20px;
}

#title-text-inside{
    color: white; 
    font-family: Poppins; 
    font-size: 35px; 
    font-weight: 600; 
    font-style: normal;
}
.type-text-search{
    position:relative; 
    top:3rem; 
    display:flex; 
    justify-content:center; 
    margin: 30px;
    margin-top: 20px;
    gap:1.5rem;
    flex-wrap: wrap;
}
.type-text1{
    display:flex;
    flex-direction:row;
    gap:10px;
    flex-wrap: wrap;
    justify-content: center;
    left: 20px;
}
.loc-dropdown{
    width: 280px; 
    border: 2px solid white; 
    padding: 10px;
    font: normal normal normal 15px/23px Poppins;
    padding-left:20px;
    outline-color: #FFFFFF;
}



.type-text2{
    display:flex;
    flex-direction:row;
    gap:10px;
    flex-wrap: wrap;
    justify-content: center;
    left: 20px;
}
.res-dropdown{
    width: 370px; 
    border: 2px solid white; 
    padding: 10px;
    font: normal normal normal 15px/23px Poppins;
    padding-left:20px;
    outline-color: #FFFFFF;
}
.checkbox-items {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
}

